<?xml version="1.0"?>
<launch>

  <arg name="rate"                      default="2"                               />
  <arg name="cloud"                     default="/throttle_filtering_points/filtered_points"  />
  <arg name="frame"                     default="/base_footprint"                 />
  <arg name="passthrough_axis"          default="z"                               />
  <arg name="passthrough_min"           default="0.05"                            />
  <arg name="passthrough_max"           default="1.8"                             />
  <arg name="downsampling_size"         default="0.1"                             />

  <node name="plane_detector" pkg="tiago_pcl_tutorial" type="detect_main_plane" output="screen">
    <remap from="cloud"                     to="$(arg cloud)"     />
    <param name="rate"                      type="double" value="$(arg rate)"  />
    <param name="frame"                     type="string" value="$(arg frame)"  />
    <param name="passthrough_axis"          type="string" value="$(arg passthrough_axis)"  />
    <param name="passthrough_min"           type="double" value="$(arg passthrough_min)"   />
    <param name="passthrough_max"           type="double" value="$(arg passthrough_max)"   />
    <param name="downsampling_size"         type="double" value="$(arg downsampling_size)" />
  </node>

</launch>
