<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="config" value="true"/>

  <arg unless="$(arg config)" name="command_args" value="" />
  <arg     if="$(arg config)" name="command_args" value="-d $(find tiago_moveit_tutorial)/launch/moveit.rviz" />

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false"
	args="$(arg command_args)" output="screen">

  </node>

</launch>
