<launch>
	<arg name="robot" default="steel" />
	
	<rosparam command="load" file="$(find demo_motions)/resources/custom_motions_$(arg robot).yaml" />

  	<node pkg="demo_motions" type="run_loop_node" name="tiago_alive" output="screen" args="robot:=$(arg robot)">
    	<param name="enable_motion" value="false" />
  	</node>
</launch>

